.right {
  height: 100vh;
  padding: 3vh 1vh;
}

.person {
  padding: 2vh;
  margin: 2vh 0;
  background-color: rgb(243, 243, 243);
}

.person:hover {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(159, 159, 159);
  transition: 0.2s;
  cursor: pointer;
}

.modal {
  z-index: 500;
}

.details {
  border: solid red;
  z-index: 2000;
  position: absolute;
  left: 40%;
  top: 12vh;
  width: 50vh;
  transition: 1s;
}
